h1,p{
  text-align: center;
  text-decoration: solid;
}
.buttons
{
  display: flex;
  gap:40px;
  align-items: center;
  width:100%;

  justify-content: center;
}
button{
  background-color: rgb(7, 89, 69);
   border: 2%;
   color: white; 
}