body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 36px;
  color: #333;
}

label {
  font-size: 24px;
  color: #555;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80; /* Full viewport height */
}

#inputResponse {
  background-color: #b785e6;
  width: 400px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  padding: 1px; /* Add some padding for better appearance */
  font-size: 18px; /* Adjust the font size as needed */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 10px; /* Add rounded corners */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.result {
  font-size: 20px;
  color: #333;
  background-color: rgb(255, 0, 251);
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  text-align: center;
  border: 1px solid #ccc;
}
#getData {
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  margin: 20px auto;
  background-color: #f0f0f0;
}

#dataAgainstId {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 5px;
}
